.main-content
    .main-content-blok
        .main-content-blok-item
            h2 пробка на мира
            p.title Вечер для двоих
            p.sale -50%
            span СКИДКА
            img(src="img/suchi.png", alt="")
        .main-content-blok-item
            h2 кИНО И НЕМЦЫ
            p.title Бесплатный бокал пива
            p.sale ВАРВАР
            span ПРОМОКОД
            img(src="img/beer.png", alt="")
        .main-content-blok-item
            h2 valery cakes
            p.title Торт
            p.sale 30%
            span СКИДКА
            img(src="img/cake.png", alt="")
        .main-content-blok-item
            h2 sushi sell
            p.title Набор “Праздник”
            p.sale 45%
            span СКИДКА
            img(src="img/suchi.png", alt="")
        .main-content-blok-item
            h2 mangosteen
            p.title Фрукт в подарок
            p.sale J130
            span купон
            img(src="img/mango.png", alt="")
        .main-content-blok-item
            h2 теленок табака
            p.title Стейк “Мачете”
            p.sale 20%
            span СКИДКА
            img(src="img/barbeque.png", alt="")
        .main-content-blok-item
            h2 fire food
            p.title Вторая шаурма в подарок
            p.sale ОГОНЬ
            span ПРОМОКОД
            img(src="img/food.png", alt="")
        .main-content-blok-item
            h2 aroma cremeria
            p.title Джелато “Пармезан”
            p.sale 20%
            span Скидка
            img(src="img/ice.png", alt="")
        .main-content-blok-item
            h2 пробка на мира
            p.title Вечер для двоих
            p.sale -50%
            span СКИДКА
            img(src="img/food.png", alt="")
        .main-content-blok-item
            h2 кИНО И НЕМЦЫ
            p.title Бесплатный бокал пива
            p.sale ВАРВАР
            span ПРОМОКОД
            img(src="img/beer.png", alt="")
        .main-content-blok-item
            h2 valery cakes
            p.title Торт
            p.sale 30%
            span СКИДКА
            img(src="img/cake.png", alt="")
        .main-content-blok-item
            h2 sushi sell
            p.title Набор “Праздник”
            p.sale 45%
            span СКИДКА
            img(src="img/suchi.png", alt="")